.home-view{
  .topcoat-navigation-bar {
    text-align: center;
    position: relative;

    #logo {
      height: 50px;
      position: absolute;
      top: 0px;
      left: 0px;
    }

    h1 {
      font-size: 30px;
    }
  }


  .topcoat-grid__row {
    margin: 15px 0;
    padding: 0;

    width: 100%;

    button {
      margin: 2px 0px;
      font-family: 'Roboto Condensed', sans-serif;
      line-height: 40px;
      font-size: 30px;

      text-align: center;
      color: white;
      text-decoration: none;

      width: 100%;
    }

    li {
      margin: 0px;
      padding: 0px;
      list-style: none;

      height: 40px;
    }
  }
}
