<div id="galaxy-map">
    <p>Galaxy Map</p>
    <% _.each(stars.models, function(star) { %>
        <div class="star star-type-<%= star.get("starType") %>" id="star-<%= star.id %>" data-id="<%= star.id %>" data-x="<%= star.get("x") %>" data-y="<%= star.get("y") %>">
            <div class="star-label bottom"><%= star.get("name") %></div>
        </div>
    <% }); %>
    <% _.each(planets.models, function(planet) { %>
        <div class="planet planet-type-<%= planet.get("planetType") %>" id="planet-<%= planet.id %>" data-id="<%= planet.id %>" data-x="<%= planet.get("x") %>" data-y="<%= planet.get("y") %>">
            <div class="planet-label top">
                <!-- nothing yet, icons can go here -->
            </div>
            <div class="planet-label right">
                <ul>
                    <li><span class="label">Factories: </span><%= planet.get("factories") %><li>
                    <li><span class="label">Population: </span><%= planet.get("population") %><li>
                </ul>
            </div>
            <div class="planet-label bottom">
                <%= planet.get("name") %>
            </div>
            <div class="planet-label left">
                <ul>
                    <li><span class="label">Type: </span><%= planet.get("planetType").toProperCase() %><li>
                    <li><span class="label">Quality: </span><%= planet.get("quality").toFixed(2) %><li>
                    <li><span class="label">Star: </span><%= stars.findWhere({ id: planet.get("starId")}).get("name") %><li>
                </ul>
            </div>
        </div>
    <% }); %>
</div>